{% extends "_post.html" %}
{%hyde
    title: "HTTPSanity"
    created: 2010-11-09 18:09:05
    color: [10,10,10]
    bg_photo: "http://farm1.static.flickr.com/25/67877047_a4ab5e3c4a_o.jpg"
    bg_author_url: "http://www.flickr.com/photos/belljar/"
    bg_author_name: "madamepsychosis"
    bg_license: "http://creativecommons.org/licenses/by-nc-nd/2.0/"
    bg_license_name: "CC BY-NC-ND 2.0"
%}

{% block article %}

{% excerpt %}

Sumamrizing the various reasons why sites avoid using HTTPS for serving their content.

{% endexcerpt %}

Still working out the kinks in my new site, but am thus far really pleased with how its turning out. This site, including the blog section, is powered by the [Hyde](http://github.com/lakshmivyas/hyde) static website generator. 

{% endblock %}
