{% extends "skeleton/_root.html" %}
{% block all %}
{%spaceless%}
{%ifnotequal node page.node %}
{% if node.has_listing %}<a href="{{node.listing_url}}">{% endif %}
<h2>{{node.name|unslugify}}</h2>
{% if node.has_listing %}</a>{% endif %}
{%endifnotequal%}

{% for list_page in node.pages %}
{% ifnotequal list_page node.listing_page %}
{% if list_page.display_in_list %}
<div class="listing-item">

 <a href="{{list_page.url}}">
   {% with list_page.name_without_extension|remove_date_prefix|unslugify as default_title %}
   <h1 class="title">{{list_page.title|default_if_none:default_title }}</h1>
   {%endwith%}
 </a>
 
 <h3 class="post-date">{{ list_page.created|date:"D d M Y"}}</h3>
        {% render_excerpt list_page %}
</div>
{%endif%}
{% endifnotequal %}
{% endfor %}
{%endspaceless%}
{% endblock %}
