{% extends "_page.html" %}
{%hyde
    title: "About"
    color: [15, 164, 47] 
    bg_photo: "/media/img/bg/about.jpg"
    bg_photo_url: "http://www.flickr.com/photos/zackroberts/2781782121/"
    bg_author_name: "Zack Roberts"
    bg_author_url: "http://www.flickr.com/photos/zackroberts/"
    bg_license: "http://creativecommons.org/licenses/by/2.0/"
    bg_license_name: "CC BY 2.0"
%}

{% block article %}

<h1>Doig / 'doigè / DOY-gè.</h1>

This is the personal site of John Edwin Doig III, but most call me "Trey." 

I grew up in rural North Carolina. Oldest of three. Started dating a girl named Nicole in 7th Grade. Stopped dating Nicole in the 8th grade. Started riding BMX bikes in 2000. Started programming websites to share BMX photos and videos with my friends. Finished high school in 2004 after a miserable 4 years. Went to college. Started dating Nicole in 2006. Fell in love with Nicole. Graduated in 2008. Packed the car and headed West. Moved to San Francisco in Early 2009. Currently living happily in the Mission neighborhood of San Francsico with Nicole.

{% endblock %}





