{% extends "_page.html" %}
{%hyde
    title: "Resume"
    color: [2,80,102]
    bg_photo: "/media/img/bg/resume.jpg"
    bg_author_url: "http://www.flickr.com/photos/dogioid/"
    bg_author_name: "doigoid"
    bg_license: "http://creativecommons.org/licenses/by/2.0/"
    bg_license_name: "CC BY 2.0"
%}
{% block article %}

Contact
-------

**John Doig**  
San Francisco,CA  

Education
---------

**B.S. Computer Science**  
*North Carolina State University*  
Raleigh, NC, 2004&mdash;2008

Distinction in the Major; IEEE Officer; National Software Competion Team Member; Founding
Member of the Computer Security Club; Radio Station DJ;

Experience
----------

**Software Engineer**  
*[Creative Commons](http://creativecommons.org/)*  
San Francisco, CA.  
02/2009&mdash;current

Design, develop, and support technical tools and standards supporting the CC legal infrastructure 
and increasing the discoverability, usability and value of the commons.

* Lead Engineer for the [CC Network](https://creativecommons.net/) and [CC REST API](http://api.creativecommons.org/).
* Designed and developed a web scraping service averaging ~3M requests/month.
* Build [prototypes](http://code.creativecommons.org/~john/) that demonstrate the utility of the CC REL Metadata Specification, RDFa, and other semantic web technologies.

**Software Engineer**  
*[IBM](http://ibm.com/)*  
Durham, NC.  
08/2006&mdash;12/2008

Designed and developed situational web applications for internal IBM clients that adhered to
strict corporate guidelines, privacy measures, web standards, and confidential data storage.

* Built a web-based project-management tool, still in use today, for the internal marketing
department of Websphere.
* Experienced project manager and lead developer to several client projects.


**Support Technician**  
*AppalMed*  
Boone, NC.  
12/2005&mdash;07/2006

Invoked creative solutions for networking issues and rapid configuration of thin clients.
Developed Java and C++ desktop applications to solve unique business problems for the
medical campus.

**Web Developer**  
*Freelance*  
08/2004&mdash;current

Provide web design and development services for various clients. Projects involve graphic
design, brand identity, software development, and marketing collateral.

Skills
------
### Languages
Python, PHP, Java, JavaScript, HTML5/CSS3, SQL, novice in Lisp and C
### Fields
Web Application Development, Scalibility, and Deployment; Semantic Web; Linked Data; Linux Systems; Computer Security; Frontend Web Design and Development;
    
{% endblock %}





