* { 
  font-family: Palatino, Georgia, 'Times New Roman', serif; }
html { height:100%; }
body { 
  padding:0; margin:0; height:100%;
  background:#333  top right fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

a, a:visited, a:active { color:#333; text-decoration:none; }
h1,h2,h3,h4,h5,.fontify { font-family:'Yanone Kaffeesatz', "Helvetica Neue"; font-weight:200; }

.title { margin:0 0 20px 0; padding:0; text-shadow:0px 1px 1px #fff; font-weight:300; }
header { height:100px; clear:right; }
#content { 
  background:transparent url('../img/body.png') 10px 0px repeat-y; 
  padding:0px; }
#window { margin-bottom:30px; }
#main-content { width:560px; float:left; }
#sidehack { padding-left:600px; z-index:-1; }
#sidehack-content { padding:30px; }
#top { 
  background:transparent url('../img/top.png') 10px 10px no-repeat; height:100px; }
#bottom { 
  background:transparent url('../img/bottom.png') 10px 0px no-repeat; height:55px; padding-bottom:50px; }
#bottom a { font-family:'Yanone Kaffeesatz', "Helvetica Neue"; font-weight:200; }
#sitelogo { 
  background:rgba(33, 33, 33, 0.75); z-index:99;
  height:100px; width:130px; float:left; }
#ooio { 
  text-decoration:none; outline:none; border:none;
  position:relative; top:25px; left:21px;
  width:84px; height:57px;
  overflow:hidden; 
  background: url('../img/doig.png') 0px -57px no-repeat; }
#doig { 
  display:block; margin:0px; padding:0px;
  height:57px;width:84px;
  overflow:hidden; 
  background: url('../img/doig.png') 0px 0px no-repeat;}
#nav { 
  float:left; height:100px; padding:0 0 0 10px; }
#nav ul { margin:0; padding:0; display:inline; }
#nav ul li { 
  padding:25px 10px 10px 10px;
  list-style:none; display:block; float:left; 
  margin:10px 8px; }
#nav ul li a { 
  text-shadow:0px 1px 1px #fff;
  font-size:12px; 
  font-family:"Helvetica Neue", sans-serif;
  font:normal normal normal 20px 'Yanone Kaffeesatz';
  text-decoration:none; }
#nav ul li.active, #nav ul li:hover {
  background:rgba(182, 182, 182, 0.2); }
#nav ul li.active a, #nav ul li:hover a {  
  color:#000; }
.context-nav { float:left; margin-top:10px; }
.context-nav a {
  display:block; text-align:center; 
  float:left; width:30px;height:20px; background:rgba(22,22,22,0.75); padding:10px 10px 10px 15px; }
a#next { margin-left:440px; }
.context-nav a.inactive { background:rgba(22,22,22,0.1) !important; }
.post-date { margin:0; }
.date p { 
  font-size:12px; line-height:10px; font-weight:regular; font-family:"Helvetica Neue", sans-serif;
  color:#fff;
  text-align:center; }
.banner img { margin:0px 21px 0px 20px; width:519px; text-align:left; overflow:hidden; }
.entry { padding:0px 70px 0px 70px; }
.post { margin-bottom:30px; }
p, li, span { 
  line-height: 1.5em; font-size: 1.125;
  /* text-indent: 1em; */ text-align:justify }
body.page #post-content p, body.page .entry-content p { text-align:left; }

#post-content, .padded-content, .page-listing { padding:20px 70px; }
#elsewhere { line-height:22px; padding:20px 70px 0px 70px; margin:0px; }
.favicon { border:0; height:16px; width:16px; margin:3px 1px; vertical-align:top; }

.clear { clear:both; }
.fixed { position:fixed; }
#cc-notice { 
    background:rgba(0,0,0,0.3); 
    position:fixed; bottom:0px; right:0px; padding:5px 15px; font-size:13px; }
#cc-notice a { color:#fff; text-decoration:none; font-family:"Helvetica Neue", sans-serif !important; }
#cc-notice div { font-family:"Helvetica Neue", sans-serif !important; }
#cc-notice a img { margin-top:-3px; }

#disqus_thread { margin:20px 0; }

#footer { 
  background:rgba(22,22,22,0.75);
  padding:20px 70px; color:#fff; margin:0 10px 0 0; text-shadow:0px 1px 1px #444;
  font-family:"Helvetica Neue", sans-serif; font-size:12px; }
#footer a, #footer p, #footer span { color:#fff; font-family:"Helvetica Neue", sans-serif; }
